@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Virtual Hotel</h1>
    <p>Let's learn about ASP.NET Core 3.0 Authentication and Authorization.</p>
</div>
